html,
body,
input,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
.nav-link {
  color: black;
}

.radius-pixel-20 {
  border-radius: 20px;
  color: white;
  background-color: #1e90ff;
}

div.left {
  text-align: left;
}

.container p {
  margin-bottom: 25px;
}

#status .container {
  width: 500px;
  margin: 0px auto;
}
#status .tweet-status_tweet {
  padding-top: 50px;
  font-size: 25px;
}
#status .tweet-status_date {
  font-size: 14px;
  color: #5a5a5a;
}
#status .tweet-button {
  display: flex;
  justify-content: space-around;
}
#status .share-link {
  color: black;
  border: 1px solid;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}
#status .tweet-button span:nth-child(1) {
  color: blue;
}
#status .tweet-button span:nth-child(2) {
  color: green;
}
#status .tweet-button span:nth-child(3) {
  color: pink;
}
#status .tweet-button span:nth-child(4) {
  color: blue;
}

/* ボタンのデザイン */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(to right bottom, #ffa500, #ff6347);
  border-radius: 5px;
  color: #fff;
  margin: 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

/* オーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: 0.3s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.share-button-wrapper {
  position: relative;
}

.modal {
  visibility: hidden;
  opacity: 0;
  padding: 15px 20px;
  background: #fff;
  position: absolute;
  right: 0;
  margin-top: 10px;
  width: 200px;
  border: 1px solid black;
  transition: opacity 1s, visibility 1s;
}
.modal a {
  display: block;
}
.modal a:nth-child(2) {
  margin: 10px 0px;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
/**--userDetail--**/
.user-detail {
  width: 550px;
  margin: 100px auto 0px;
  border: 1px solid;
  border-radius: 20px;
}
.user-detail.active {
  display: none;
}
.user-detail__input {
  padding: 40px 30px 30px 30px;
}
.user-detail__input .user-info {
  width: 100%;
  margin: 30px 0px 300px 0px;
  padding: 15px 0px 15px 10px;
}
.user-detail__input .user-search {
  width: 100%;
  padding: 10px 0px;
  border-radius: 20px;
  color: #ffffff;
  background-color: gray;
  border: none;
}
.user-detail__result {
  width: 550px;
  margin: 0px auto 0px;
  border: 1px solid black;
  border-radius: 20px;
  background: #fff;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.user-detail__result .result {
  margin: 10px 0px 10px 0px;
}
.user-detail__result .email {
  margin-bottom: 250px;
}
.user-detail__result {
  display: block;
}
.user-detail__result a:nth-child(2) {
  margin: 10px 0px;
}
.user-detail__result.active {
  opacity: 1;
  visibility: visible;
}

form .field {
  margin: 24px 0;
  position: relative;
}
form label,
form input {
  display: block;
  font-size: 16px;
}
form label {
  cursor: text;
  position: absolute;
  top: 15px;
  left: 5px;
  background: #fff;
  color: silver;
  pointer-events: none;

  transform-origin: left;
  transform: translateY(0);
  transition: all 0.15s;
}

form label.move {
  transform: translateY(-25px) scale(0.8);
  color: rgb(29, 155, 240);
}
.message {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.message.active {
  opacity: 1;
  visibility: visible;
}

.output {
  width: 260px;
  margin: 65px auto 0px;
  padding: 30px 0px 30px 0px;
  text-align: center;
  border: 1px solid rgb(29, 155, 240);
  background-color: rgb(29, 155, 240);
  border-radius: 20px;
}
.send-box {
  margin-bottom: 250px;
  display: flex;
}
.send-user {
  width: 100%;
  padding: 10px 0px;
  border-radius: 20px;
  color: #ffffff;
  background-color: gray;
  border: none;
}
.button {
  width: 85px;
  margin: 0px auto 30px;
  display: block;
  text-align: center;
  border-bottom: solid 2px;
  font-weight: bolder;
}
.button-certification {
  width: 165px;
  margin: 0px auto 30px;
  display: block;
  text-align: center;
  border-bottom: solid 2px;
  font-weight: bolder;
}

.user-certification {
  width: 550px;
  margin: 40px auto 0px;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px 20px;
  background: #fff;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border: 1px solid black;
}
.user-certification__reset {
  margin-bottom: 10px;
}
.user-certification.show {
  opacity: 1;
  visibility: visible;
}
.user-detail__display.remove {
  display: none;
}
.user-certification .send-certification {
  width: 100%;
  padding: 18px 0px 15px 10px;
}

.send-certification__button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 20px;
  color: #ffffff;
  background-color: gray;
  border: none;
}
.user-password {
  width: 550px;
  margin: 40px auto 0px;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px 20px;
  background: #fff;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border: 1px solid black;
}
.button-password {
  width: 81px;
  margin: 20px auto 30px;
  display: block;
  text-align: center;
  border-bottom: solid 2px;
  font-weight: bolder;
}
.user-password.show2 {
  opacity: 1;
  visibility: visible;
}
.user-certification__display.remove2 {
  display: none;
}
.user-password__display.remove3 {
  display: none;
}
.user-password h4 {
  margin-bottom: 29px;
  font-size: 18px;
}

.user-password__button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 20px;
  color: #ffffff;
  background-color: gray;
  border: none;
}
.user-password__input {
  width: 100%;
  padding: 17px 0px 15px 0px;
  margin-bottom: 40px;
}
.user-password__confirm {
  width: 100%;
  padding: 17px 0px 15px 0px;
}
.user-password__send {
  width: 100%;
  font-size: 37px;
}
.user-password__send.confirm {
  width: 100%;
  font-size: 37px;
}
.complete-password {
  width: 550px;
  margin: 40px auto 0px;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px 20px;
  background: #fff;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border: 1px solid black;
}
.complete-password.show3 {
  opacity: 1;
  visibility: visible;
}
.button-complete {
  width: 70px;
  margin: 50px auto 30px;
  display: block;
  text-align: center;
  border-bottom: solid 2px;
  font-weight: bolder;
}
.complete-password h5 {
  font-size: 18px;
  text-align: center;
}

.user-create {
  width: 550px;
  margin: 100px auto 0px;
  border: 1px solid;
  border-radius: 20px;
}
.user-create.active {
  display: none;
}
.user-create__input {
  padding: 40px 30px 30px 30px;
}
.user-create__input .name {
  width: 100%;
  /* margin: 30px 0px 50px 0px; */
  padding: 15px 0px 15px 10px;
}
.user-create__input .email {
  width: 100%;
  /* margin: 30px 0px 50px 0px; */
  padding: 15px 0px 15px 10px;
}
.user-create__input .user-create__next {
  width: 100%;
  padding: 10px 0px;
  border-radius: 20px;
  color: #ffffff;
  background-color: gray;
  border: none;
}

form .field {
  margin: 24px 0;
  position: relative;
}
form label,
form input {
  display: block;
  font-size: 16px;
}
form label[for='password-name'] {
  cursor: text;
  position: absolute;
  /* top: 15px; */
  left: 5px;
  background: #fff;
  color: silver;
  pointer-events: none;
  transform-origin: left;
  transform: translateY(0);
  transition: all 0.15s;
}

form label[for='name'] {
  cursor: text;
  position: absolute;
  top: 15px;
  left: 5px;
  background: #fff;
  color: silver;
  pointer-events: none;
  transform-origin: left;
  transform: translateY(0);
  transition: all 0.15s;
}

form label[for='email'] {
  cursor: text;
  position: absolute;
  top: 96px;
  left: 5px;
  background: #fff;
  color: silver;
  pointer-events: none;
  transform-origin: left;
  transform: translateY(0);
  transition: all 0.15s;
}

form label.move {
  transform: translateY(-25px) scale(0.8);
  color: rgb(29, 155, 240);
}
.user-create.remove {
  display: none;
}
.user-certification__register {
  margin-bottom: 9px;
}
.user-create__name {
  margin-bottom: 30px;
}
.name-error__message {
  display: none;
}
.email-error__message {
  display: none;
}
.name-error__output.name {
  display: inline;
  font-size: 13px;
  color: red;
}
.email-error__output.email {
  display: inline;
  font-size: 13px;
  color: red;
}
.user-register__confirm {
  width: 100%;
  padding: 17px 0px 15px 0px;
}

form label[for='confirm-register'] {
  cursor: text;
  position: static;
  top: 15px;
  left: 5px;
  background: #fff;
  color: silver;
  pointer-events: none;
  transform-origin: left;
  transform: translateY(0);
  transition: all 0.15s;
}
.user-register__button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 20px;
  color: #ffffff;
  background-color: gray;
  border: none;
}
.box-top {
  margin-bottom: 12px;
}
.box-top p {
  font-size: 12px;
}
/**-- profile --**/
.profile-wrapper {
  width: 650px;
  margin: 0px auto;
  border-left: solid 1px rgb(207, 217, 222);
  border-right: solid 1px rgb(207, 217, 222);
}
.profile-image {
  height: 200px;
  background-color: rgb(207, 217, 222);
}
.profile-content001 {
  padding: 10px 16px 0px 16px;
}
.profile-content002 {
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.profile-content002__icon {
  width: 25%;
  min-width: 48px;
  position: relative;
}
.profile-content002__icon img {
  width: calc(100% - 5px);
  border-radius: 50%;
  border: solid 5px #ffffff;
  position: absolute;
  transform: translateY(-50%);
}
.profile-content002__edit {
  height: 37px;
  padding: 5px 15px 0px 15px;
  border: solid 1px rgb(207, 217, 222);
  border-radius: 20px 20px 20px 20px;
}
.profile-content003 {
  margin-bottom: 12px;
}
.profile-content003 .display-name p:nth-child(1) {
  font-size: 20px;
  font-weight: 800;
}
.profile-content003 .display-name p:nth-child(2) {
  font-size: 15px;
  color: rgb(83, 100, 113);
}
.profile-content004 {
  margin-bottom: 12px;
  display: flex;
}
.profile-content005 {
  display: flex;
  gap: 6px 4px;
}
.profile-content005 .profile-web a {
  color: rgb(29, 155, 240);
}

/**-- index --**/
.wrapper {
  width: 800px;
  margin: 0px auto;
}
.content {
  display: flex;
}
.container {
  width: 445px;
}
.left-bar {
  width: 275px;
}
.input-area {
  font-size: 20px;
}
.input-border {
  width: 100%;
  margin-bottom: 24px;
  resize: none;
  outline: none;
  border: none;
}
.tweet-modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}
.tweet-modal.show-modal {
  opacity: 1;
  visibility: visible;
}
.tweet-form {
  width: 40%;
  padding: 40px;
  display: block;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  max-width: 600px;
}
.tweet-area {
  padding-top: 12px;
  border-top: solid 1px rgb(239, 243, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.send-tweet {
  padding: 6px 16px 6px 16px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgb(29, 155, 240);
}
.send-tweet.hover {
  background-color: #ffffff;
}
.close-modal.close {
  opacity: 0;
}
#inputForm.color {
  color: red;
}
.tweet-modal__right-section {
  display: flex;
  align-items: center;
}
.tweet-modal__count-wrapper {
  margin-right: 8px;
}
